Flask
flask-cors>=4.0.0
flask-socketio
flask-httpauth
flask-compress>=1.15
google-auth
google-api-python-client
gspread
eventlet==0.36.1
gunicorn==22.0.0
python-dotenv
xmltodict==0.14.2
requests
reportlab
playwright==1.46.0
httpx
